@import "../font/iconfont.css";
.intro-tour-outer-container{
    position: absolute;
    width: var(--intro-tour-w);
    height: var(--intro-tour-h);
    left: var(--intro-tour-l);
    top: var(--intro-tour-t);
    z-index: var(--intro-tour-z);
    background: rgab(0,0,0,.7);
    cursor: pointer;
}
.tool-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    >div{
        padding: 0;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
        padding: 0px 6px;
        border-radius: 4px;
        transition: all .3s;
        *{
            pointer-events: none;   //是的事件绑定在外层div上
        }
        .iconfont{
            font-size:22px;
        }
        +div{
            margin-left: 4px;
        }
        &:hover{
            background: rgb(255,255,255);
            color: #333;
        }
    }
   
}

.intro-tour-mark-text{
    border-bottom: 2px solid orange;
    cursor: pointer;
}

  
::selection {   
    background:orange;    
}   
::-moz-selection {   
    background:orange;     
}   
::-webkit-selection {   
    background:orange;    
}  