@import "../font/iconfont.css";
.intro-tour-outer-container{
    position: absolute;
    width: var(--intro-tour-w);
    height: var(--intro-tour-h);
    left: var(--intro-tour-l);
    top: var(--intro-tour-t);
    z-index: var(--intro-tour-z);
    background: rgab(0,0,0,.7);
    cursor: pointer;
}
.tool-content{
    .iconfont{
        font-size: 24px;
        padding: 0 2px;
        cursor: pointer;
    }
}

::selection {   
    background:orange;    
}   
::-moz-selection {   
    background:orange;     
}   
::-webkit-selection {   
    background:orange;    
}  