<div class="tool-content">
    <label for="intro-tour-underline">
        <i class="iconfont intro-tour-underline" />
        <button id="intro-tour-underline">划线</button>
    </label>
    <label for="intro-tour-underline">
        <i class="iconfont intro-tour-underline" />
        <button id="intro-tour-underline">评论</button>
    </label>
    <label for="intro-tour-underline">
        <i class="iconfont intro-tour-underline" />
        <button id="intro-tour-underline">复制</button>
    </label>
</div>
