<div class="tool-content">
    <div data-method="mark">
        <i class="iconfont icon-underline"></i>
        <div>划线</div>
    </div>
    <div data-method="color">
        <i class="iconfont icon-font-colors"></i>
        <div>颜色</div>
    </div>
    <div data-method="light">
        <i class="iconfont icon-bg-colors"></i>
        <div>高亮</div>
    </div>
    <div data-method="bold">
        <i class="iconfont icon-bold"></i>
        <div>加粗</div>
    </div>
    <div data-method="annotate">
        <i class="iconfont icon-comment"></i>
        <div>标注</div>
    </div>
    <div data-method="copy">
        <i class="iconfont icon-file-copy"></i>
        <div>复制</div>
    </div>
</div>
